@model int
@{ int listIndex = Model; listIndex -= 2;}

<div id="ClientPartial_@Model">
    <label for="firstName">Client First Name</label>
    <input id="firstName_@Model" />
    <br />
    <label for="lastName">Client Last Name</label>
    <input id="lastName_@Model" />
    <br />
    <input type="button" value="Search" onclick="ReloadViewComp(@Model)" />

    <p>Client to be added</p>
    <p>ID</p>
    <input id="TBAID_@Model" name="clients[@listIndex].ID" readonly/>
    <p>First Name</p>
    <input id="TBAfirstName_@Model" name="clients[@listIndex].firstName" readonly />
    <p>Last Name</p>
    <input id="TBAlastName_@Model" name="clients[@listIndex].lastName" readonly />
    <p>Phone Number</p>
    <input id="TBAphoneNumber_@Model" name="clients[@listIndex].phoneNumber" readonly />
    <p>Email</p>
    <input id="TBAemail_@Model" name="clients[@listIndex].email" readonly />
    <p>Adult</p>
    <input type="checkbox" id="TBAisAdult_@Model" name="clients[@listIndex].isAdult" value="true" readonly />
    @*<input type="checkbox" id="TBAisAdult_@Model" name="clients[@listIndex].bCurrInReservation" value="true" hidden checked/>*@

    <br />
    <hr />
    <div id="ClientViewComp_@Model">
        @*@await Component.InvokeAsync("ListedClients")*@
    </div>

</div>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
