@model HotelReservationsManager.Models.Reservation

@{
    ViewData["Title"] = "Create";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous"></script>


<script>
    function ListUserInputs(howMany) {
        for (i = 0; i < Math.abs(howMany); i++) {
            $.get("@Url.Action("OnGetClientReservationInputPartial", "Reservations")", { whichVC:i + 2}, function (data) {
                $("#UserInputListed")
                    .append(data);
            });
        }
    }

    function ReloadViewComp(whichVC) {
        $.ajax({
            url: '@Url.Action("ReloadListedClientViewComp", "Reservations")',
            type: "POST",
            data: { firstName: $(`#firstName_${whichVC}`).val(), lastName: $(`#lastName_${whichVC}`).val(), "whichVC": whichVC },
            success: function (data) {
                $(`#ClientViewComp_${whichVC}`).html(data);
            }
        })
    }

    $(document).ready(function () {
        var pageSize = Cookies.get("pageSize");
        if (pageSize !== undefined) {
            $(`#${pageSize}`).prop('checked', true);
        }
        document.getElementById("reservationDate").min = new Date().toISOString().split("T")[0];
    });

    function UpCookie(evn, whichVC) {
        Cookies.set("pageSize", evn.value);
        ReloadViewComp(whichVC);
    }

    function SetUserValuesInInput(innerIndex, whichVC) {
        $(`#TBAID_${whichVC}`).val($(`#CIDVC_${innerIndex}${whichVC}`).val());
        //$(`#TBAfirstName_${whichVC}`).val($(`#CfirstNameVC_${innerIndex}${whichVC}`).val());
        //$(`#TBAlastName_${whichVC}`).val($(`#ClastNameVC_${innerIndex}${whichVC}`).val());
        //$(`#TBAphoneNumber_${whichVC}`).val($(`#CphoneNumberVC_${innerIndex}${whichVC}`).val());
        //$(`#TBAemail_${whichVC}`).val($(`#CemailVC_${innerIndex}${whichVC}`).val());
        //if ($(`#CisAdultVC_${innerIndex}${whichVC}`).is(':checked')) {
        //    document.getElementById(`TBAisAdult_${whichVC}`).checked = true;
        //}
    }

    function releaseDateMinValUpdate() {
        document.getElementById("releaseDate").min = document.getElementById("reservationDate").value;
    }

</script>

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="reservationDate" class="control-label"></label>
                <input asp-for="reservationDate" class="form-control" id="reservationDate" onchange="releaseDateMinValUpdate()"/>
                <span asp-validation-for="reservationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="releaseDate" class="control-label"></label>
                <input asp-for="releaseDate" class="form-control" id="releaseDate"/>
                <span asp-validation-for="releaseDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="breakfast" /> @Html.DisplayNameFor(model => model.breakfast)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="allInclusive" /> @Html.DisplayNameFor(model => model.allInclusive)
                </label>
            </div>
            @*<div class="form-group">
                <label asp-for="finalPrice" class="control-label"></label>
                <input asp-for="finalPrice" class="form-control" />
                <span asp-validation-for="finalPrice" class="text-danger"></span>
            </div>*@
            @*<button id="forbtn" type="button">FOr</button>*@
            <p>How many users will be in this room?</p>
            <input type="number" id="userInputsNumber"/>
            <input type="button" value="Load User Inputs" onclick="ListUserInputs($('userInputsNumber').val())"/>
            <div id="UserInputListed">
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
